/* grid */
.grid-sizer,
.grid-item { width: 32%;}
.gutter-sizer { width: 2%; }
.grid-item {margin-bottom: 10px;}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid { font-size: 1em; }
@media screen and (max-width: 736px) {
  .grid-sizer,
  .grid-item { width: 49%;}
}


/* hover effect */

/*.grid:hover .citybranding-panel:not(:hover) {	opacity: 0.5; }*/
/*.grid:hover .citybranding-panel:hover {
  border-color: #0077BB;
}*/
.citybranding-focus {
  border-color: #0077BB;
  opacity: 1;
}
.citybranding-not-focus {
  border-color: #dddddd;
  opacity: 0.25;
}

/* panel card*/
.citybranding-panel {
  background-color: #fff;
  color: #222222;
  font-size: 0.8em;
}

.cb-category-icon {
  position: absolute;
  left: 0;
  top: 0;
}
.cb-tag-icon,
.cb-classification-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.cb-tag,
.cb-cat{
  background-color: #545484;
  color: #ffffff;
  padding: 2px 4px;
  display: inline;
  margin: 2px;
  border-radius: 4px;
  border-color: #484860;
  font-size: 0.75em;
}
.cb-cat {
  background-color: slategray;

}

.citybranding-panel-body {padding: 5px;}
.citybranding-panel-body .label { white-space: normal; }
span.lead a {text-decoration: none; border-bottom: none;}
/* scale and crop image to same height */
.crop-height {
  /* max-width: 1200px; /* native or declared width of img src (if known) */
  height: 220px;
  /*max-height: 200px;*/
  overflow: hidden;
  background-color: #fff;
}
@media screen and (max-width: 480px) { .crop-height {height: 100px;} }
@media screen and (max-width: 736px) { .crop-height {height: 150px;} }
img.scale {
  /* corrects small inline gap at bottom of containing div */
  display: block;
  width: 100%; /* corrects obscure Firefox bug */
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  display: block; /* corrects small inline gap at bottom of containing div */
  width: 100% /* corrects obscure Firefox bug */
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  /*width: auto\9;
  /* ie8+9 - use modernizr instead of this \9 hack */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic;
  /* optionally force a minimum size if img src size is known: */
  /* min-height: 320px; /* max-height of .crop-height */
  /* min-width: 480px; /* proportional to above */
}

.flip {
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
  /* needed? not sure */
  zoom: 1;
}

img.flip {
  /* actually, aligns left within .cropheight */
  float: right;
  /* clearfix after? */
}

#poi-wrapper .grid-sizer,
#poi-wrapper .grid-item { width: 20%;}
#poi-wrapper .grid-item--width2 { width: 40%; }
#poi-wrapper .grid-item--width4 { width: 80%; }
#poi-wrapper .grid-item--width100 { width: 100%; }
#poi-wrapper .grid-item { margin-bottom: 0; }
#poi-wrapper .image img { border-radius: 0px; }
#poi-wrapper a.image.fit { margin: 0; }


.citybranding-warning {color: #e21d1d; font-size: small;}
.citybranding-info {color: #999999; font-size: small;}
.masonry .citybranding-panel { position: relative;z-index:90;}
/*.masonry .panel-body {position: relative;}*/
.poi-unmoderated { /*background-color: #efefef;*/ }


/* ribbon */
.ribbon-wrapper-corner {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
  z-index:100;
}

.ribbon-corner {
  font: 13px Sans-Serif;
  color: #fff;
  text-align: center;
  /*text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;*/
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #0099CC;/* #BFDC7A*/
/*  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); */
  /*color: #6a6340;*/
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-corner:before, .ribbon-corner:after {
  content: "";
  border-top:   3px solid #0099CC;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-corner:before {
  left: 0;
}
.ribbon-corner:after {
  right: 0;
}

.book-ribbon {
  font: 12px Sans-Serif;
  line-height: 16px;
  padding: 0 0 10px 0;
  position: absolute;
  right: 1.0em;
  top: -0.25em;
  width: 30px;
}
.book-ribbon-left {left: 0.85em;}

.book-ribbon div {
  background: #0099CC;
  /*background: linear-gradient(#e74841 0%, #bb3a34 100%);*/
  color: #fff;
  padding: 0.5em 0;
  text-align: center;
  /*text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);*/
}
.book-ribbon div:after {
  border-left: 15px solid #0099CC;
  border-right: 15px solid #0099CC;
  border-bottom: 10px solid transparent;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}
