#citybranding-map-canvas { width: 100%; height: 100%; }
.citybranding-gmap-textarea {width:100%; resize:none; }
.citybranding-text-right {text-align: right;}
.citybranding-text-left {text-align: left;}